[submodule "HazelN/vendor/spdlog"]
	path = HazelN/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazelN/vendor/GLFW"]
	path = HazelN/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "HazelN/vendor/imgui"]
	path = HazelN/vendor/imgui
	url = https://github.com/TheCherno/imgui
